.my-4{
    margin-top: 4.4em;
    margin-bottom: 4.4em;
}

.x-center{
    margin-left: auto;
    margin-right: auto;
}

.w-3\/4{
    width: 70%;
}

.max-content{
    width: max-content;
    
}

.text-center{
    text-align: center;
}

#chart_container {
    padding: 10px;
    border: 2px solid gray;
    box-shadow: -1px 2px 5px grey,  1px -2px 3px;
    border-radius: 10px;
}

#data{
    width: 100%;
    display: flex;
    column-gap: 10px;
    align-items: center;
    justify-content: center;
}

#data > select{
    width: 200px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
